<div class="container">
    <h2>Cadastrar Cidade</h2>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="inputNome" class="form-label">Nome</label>            
            <input type="text" class="form-control" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">
            <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                <div *ngIf="f.nome.errors.required">O nome é obrigatorio.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="cidade" class="col-form-label col-sm-2">UF</label>
            <select [compareWith]="compararUf" name="uf" formControlName="uf" class="form-control">
                <option [ngValue]="undefined">---Selecionar uma UF---</option>
                <option *ngFor="let uf of todasUF" [ngValue]="uf">
                    {{ uf }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>
