<div class="container">
    <h2>Cadastrar Cliente</h2>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" name="nome" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">
            <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                <div *ngIf="f.nome.errors.required">O nome é obrigatorio.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputCpfCnpj" class="form-label">Cpf/Cnpj</label>
            <input type="text" name="cpfCnpj" formControlName="cpfCnpj" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpfCnpj.errors }">
            <div *ngIf="submitted && f.cpfCnpj.errors" class="invalid-feedback">
                <div *ngIf="f.cpfCnpj.errors.required">O cpf/cnpj é obrigatorio.</div>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="cidade" class="col-form-label col-sm-2">Cidade</label>
            <select [compareWith]="compararCidade" name="cidade" formControlName="cidade" class="form-control">
                <option [ngValue]="undefined">---Selecionar uma Cidade---</option>
                <option *ngFor="let cidade of cidades" [ngValue]="cidade">
                    {{ cidade.nome }}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>
